@model IEnumerable<Auction.DAL.Entities.AuctionBid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auction.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bidder.NameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bidder.NameEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
